body {
    background-color: #FFFDF7; /* fundo */
    overflow: hidden; /*tirar rolagem */    
}

/*esconder as imagens para estilizar um elemento por vez*/


main .personagem.selecionado {
    display: block; /*mostrar*/
       
}

main .personagem {
    display: none;
    justify-content: center;
    align-items: center;
     /* Adiciona espaço abaixo da personagem */
}

main .personagem .imagem {
    width: 1500px; /* Largura desejada */
    height: 750px; /* Altura desejada */
    margin-top: 25px; /* Ajusta a margem superior conforme necessário */
}

main .personagem .inicial{   
    width: 1500px; /* Largura desejada */
    height: 750px; /* Altura desejada */
    margin-top: 25px; 
}


.botoes {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* centralizar na horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(63, 6, 78, 0.3); /* rgba opacidade do fundo */
    gap: 30px;
    padding: 10px; /* espaço interno para os botões */
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;  /*maozinha em cima do botao*/
    border-radius: 50%;
    
}

.botoes .botao img {
    border-radius: 50%
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
}      

/*responsivo*/
